<div *ngIf="disp == true" class="row">
  <div class="col-md-6">
    <form id="userForm" (submit)="submitUsername()">
      <div class="form-group">
        <label>Enter UserName</label>
        <textarea class="form-control" [(ngModel)]="username" name="username" id="username" placeholder="Enter Username"></textarea>
        <br>
        <input type="submit" class="btn btn-primary" value="Login">
      </div>
    </form>
  </div>
</div>

<div *ngIf="showChat == false" class="topcorner">
  <div  class="onlineContainer">
    <div class="onlineHeader">
      <h3>Online Peeps: </h3>
    </div>
    <div class="onlineList">
      <div *ngFor="let user of users" >
        <div class="col-md-6">
          <label >{{user}}</label>
        </div>
        <div class="col-md-3">
          <input style="float: right" type="button" (click)="settingUpRequest(user)" value="Send Request">
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="disp == false && showChat == false" >
  <div class="row">
    <div class="col-md-6">
      <label>Requests: </label>
      <div *ngFor="let request of requests">
        <div class="col-md-6">
          {{request}}
        </div>
        <div class="col-md-3">
          <div class="btn-group">
            <button type="button" (click)="deletingRequest(request)" class="btn btn-danger">Delete</button>
            <button type="button" (click)="acceptingRequest(request)" class="btn btn-success">Accept</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="lol == true" class="chatContainer">
  <div class="chatHeader">
    <h3>{{receiver}}</h3>
  </div>
  <div class="chatMessage">

  </div>
  <div class="chatBottom">
    <form id="chatForm">
      <input type="hidden" id="name" value="user">
      <input type="text" name="text" id="text" value="" placeholder="Type Your Message">
      <input type="submit" name="submit" value="Post">
    </form>
  </div>
</div>
<div *ngIf="showChat == true">
  <video #myvideo></video>
</div>
